@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: futura-pt, sans-serif;
  color: beige;
  font-weight: 400;
  /* color-scheme: light dark; */
  background-color: #140011;
}
@font-face {
  font-family: "TrashSecret";
  src: url("Trash Secret.eot"); /* IE9 Compat Modes */
  src: url("Trash Secret.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/public/assets/fonts/Trash\ Secret.woff") format("woff"),
    /* Modern Browsers */ url("/public/assets/fonts/Trash\ Secret.woff2") format("woff2"),
    /* Modern Browsers */ url("/public/assets//trash-secret-horror-scribble-font-2024-01-26-16-50-13-utc/Trash\ Secret.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}